<!-- portfolio section -->
<section id="portfolio" class="no-gutter">
    <div class="container">
        <!-- portfolio filter -->
        <ul class="portfolio-filter list-inline text-center">
            <li><a href="#" data-group="all" class="active">ALL</a></li>
            <li><a href="#" data-group="graphic-design">GRAPHIC DESIGN</a></li>
            <li><a href="#" data-group="branding">BRANDING</a></li>
            <li><a href="#" data-group="logo-design">LOGO DESIGN</a></li>
            <li><a href="#" data-group="illustration">ILLUSTRATION</a></li>
        </ul><!--end portfolio filter -->
        <ul class="row portfolio list-unstyled lightbox" id="grid">
            <!-- project -->
            <li class="col-xs-6 col-md-4 project m-project" data-groups='["illustration"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/m-project.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/m-project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/project.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project m-project" data-groups='["logo-design"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/m-project.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/m-project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["illustration", "logo-design", "branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/project.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project m-project" data-groups='["graphic-design", "logo-design", "branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/m-project.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/m-project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/project.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project m-project" data-groups='["graphic-design", "branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/m-project.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/m-project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["illustration", "logo-design"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/project.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project m-project" data-groups='["branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/m-project.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/m-project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["graphic-design", "branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/project.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project m-project" data-groups='["logo-design", "branding"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/m-project.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/m-project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["illustration"]'>
                <div class="img-bg-color primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/project.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="single-project.html" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <a href="images/project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">PROJECT TITLE</h5>
                        <p class="skill">SKILLS</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- sizer -->
            <li class="col-xs-6 col-md-4 shuffle_sizer"></li>      
        </ul> <!-- / projects -->
    </div><!-- / container -->

</section>
<!-- / portfolio section -->

<!-- blog section 3col -->
<section id="blog-small">
    <div class="container">
        <div class="page-header no-margin text-center">
            <h2>LATEST POSTS</h2>
        </div>
        <p class="text-center">Sed imperdiet vitae ipsum a tincidunt. Vivamus id ligula turpis. Duis viverra arcu quis.</p>
        <div class="row">

            <!-- post-block -->
            <div class="col-sm-4">
                <div class="post-block">
                    <a href="single-post.html"><img src="images/post-img.jpg" alt=""></a>
                    <div class="small-post-text">
                        <h5><a href="single-post.html">SINGLE POST</a></h5>
                        <p class="small-post-meta">AUG 16, 2016</p>
                        <p class="space-bottom">Suspendisse in mattis neque, sed accumsan erat. Maecenas eget metus dui. Vestibulum accumsan massa quam...</p>
                        <p class="small-post-footer">
                            <a href="single-post.html">READ MORE</a>
                            <span class="post-icons pull-right">
                                <a href="#x"><i class="lnr lnr-thumbs-up"></i></a>
                                <a href="#x"><i class="lnr lnr-bubble"></i></a>
                            </span>
                        </p>
                    </div><!-- / small-post-text -->
                </div><!-- / post-block -->
            </div><!-- / col-md-4 -->
            <!-- / post-block -->

            <!-- post-block -->
            <div class="col-sm-4">
                <div class="post-block">
                    <a href="single-post-full.html"><img src="images/post-img.jpg" alt=""></a>
                    <div class="small-post-text">
                        <h5><a href="single-post-full.html">FULLWIDTH POST</a></h5>
                        <p class="small-post-meta">AUG 16, 2016</p>
                        <p class="space-bottom">Suspendisse in mattis neque, sed accumsan erat. Maecenas eget metus dui. Vestibulum accumsan massa quam...</p>
                        <p class="small-post-footer">
                            <a href="single-post-full.html">READ MORE</a>
                            <span class="post-icons pull-right">
                                <a href="#x"><i class="lnr lnr-thumbs-up"></i></a>
                                <a href="#x"><i class="lnr lnr-bubble"></i></a>
                            </span>
                        </p>
                    </div><!-- / small-post-text -->
                </div><!-- / post-block -->
            </div><!-- / col-md-4 -->
            <!-- / post-block -->

            <!-- post-block -->
            <div class="col-sm-4">
                <div class="post-block">
                    <a href="single-post.html"><img src="images/post-img.jpg" alt=""></a>
                    <div class="small-post-text">
                        <h5><a href="single-post.html">POST WITH SIDEBAR</a></h5>
                        <p class="small-post-meta">AUG 16, 2016</p>
                        <p class="space-bottom">Suspendisse in mattis neque, sed accumsan erat. Maecenas eget metus dui. Vestibulum accumsan massa quam...</p>
                        <p class="small-post-footer">
                            <a href="single-post.html">READ MORE</a>
                            <span class="post-icons pull-right">
                                <a href="#x"><i class="lnr lnr-thumbs-up"></i></a>
                                <a href="#x"><i class="lnr lnr-bubble"></i></a>
                            </span>
                        </p>
                    </div><!-- / small-post-text -->
                </div><!-- / post-block -->
            </div><!-- / col-md-4 -->
            <!-- / post-block -->

        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / blog section 3col -->

<!-- / content -->

<!-- footer -->
<footer class="dark">
    <div class="container">
        <p class="footer-info">© MP - MINIMAL PORTFOLIO
            <span class="social pull-right">
                <a href="#x"><i class="fa fa-facebook"></i></a>
                <a href="#x"><i class="fa fa-twitter"></i></a>
                <a href="#x"><i class="fa fa-instagram"></i></a>
            </span>
        </p>
    </div><!-- / container -->
</footer>
<!-- / footer -->

<!-- javascript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>

<!-- portfolio -->
<script src="js/custom.js"></script>
<script src="js/jquery.shuffle.min.js"></script>
<!-- lightbox -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript">
// This will create a single gallery from all elements that have class "lightbox"
$('.lightbox').each(function() {
    $(this).magnificPopup({
        delegate: 'a.open-gallery', // the selector for gallery item
        type: 'image',
        gallery: {
          enabled:true
        }
    });
});
</script>